
 <!DOCTYPE! html>

<head>

</head>

<body>

    <div class="container">
        <div class="row">

            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <%# <div class="card card-signin my-5"> %>
                    <div class="card-body">
                        <h5 class="card-title text-center">Add Item</h5>
                        <form action="/items" method="POST" enctype="multipart/form-data">

                            <div class="form-label-group">
                                <label for="title">Title</label>
                                <input class="form-control input-sm" type="text" name="title" id="title" class="form-control" placeholder=" Item Name" required autofocus/>
                            </div>

                            <div class="form-label-group">
                                <label for="content">Description</label>
                                <input class="form-control input-lg" type="text" name="content" id="content" placeholder="Describe Item" />
                            </div>
                            <div class="form-label-group">
                                <label for="file"> Add File</label>
                                <input type="file" name="file" id="file" class="form-control" required />
                            </div>
                            <button class="btn btn-primary" type="submit" id="add_item_button">ADD</button>
                        </form>
                    </div>
                <%# </div> %>
            </div>

            <div class="col col-lg-6">
                <h1> Your Items </h1>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <ul class="list-group">
                    <%all_items.each do |item|%>
                        <li class="list-group-item">
                            <a href="/items/<%=item.id%>">
                                <%=item.title%>
                            </a>
                            <button type="button" class="btn btn-link" ><a href="/items/<%=item.id%>/edit"> Edit </a> </button>
                        </li>
                        <% end %>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>
 
