
  <form action="/items_new" method="POST">
              <div class="form-label-group">
               <label for= "title">Title</label>
                <input type= "text" name="item[title]" id = "title" class="form-control" placeholder="Name this item" required autofocus/> 
              </div>
              <div class="form-label-group">
               <label for= "content">Content</label>
                <input type= "text" name="item[content]" id="content" class="form-control" placeholder="Upload content" required autofocus/> 
              </div>
            
              <button class="btn btn-primary" type="submit" id="add_item_button">ADD</button>
</form>

