<!DOCTYPE! html>

<head>

</head>

<body>
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                    <%=@item.title%>
                </div>
                <div class="card-body">
                        <p class="card-text">
                            <%=@item.file%>
                        </p>  
                </div>
                <div class="card-footer text-muted">
                    <%=@item.content%>
                </div>
                <button type="button" class="btn btn-link"><a href="/items"> Home </a> </button>
            </div>
        </div>

</body>

</html>
